<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ListaProcesaMedia.My.MySettings.MaterialesConnectionString"
            connectionString="Data Source=192.168.108.233;Initial Catalog=Materiales;Persist Security Info=True;User ID=admateriales;Password=Mariquita10"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="pathOrigen" value="\\ftpapunt\programes" />
    <add key="pathDestino" value="\\netapp.cvmc.es\dalet\Import\Productoras"/>
    <add key="ConnectionString" value="server=192.168.108.233;user id=admateriales;password=Mariquita10;database=materiales" />
    <add key="allowedExtensionFiles" value=" .avi, .mpeg, .mpg, .qt, .wmv, .asf, .rm, .ram, .flv, .mxf, .xml, .mov, .mp4"/>
    <add key="serverDB"  value="192.168.108.233"/>
    <add key="userDB"  value="admateriales"/>
    <add key="passwordDB"  value="Mariquita10"/>
    <add key ="databaseDB" value ="Materiales"/>
  </appSettings>
</configuration>